/debian/files
/debian/chaosdorf-admin-toolkit
/debian/chaosdorf-admin-toolkit.substvars
/debian/chaosdorf-admin-toolkit.debhelper.log
/debian/chaosdorf-raumadmin-toolkit
/debian/chaosdorf-raumadmin-toolkit.substvars
/debian/chaosdorf-raumadmin-toolkit.debhelper.log
/fabfile.pyc
