Source: chaosdorf-admin-toolkit
Section: admin
Priority: optional
Maintainer: Chaosdorf Admins <admin@chaosdorf.de>
Uploaders: Maximilian Gass <mxey@chaosdorf.de>,
 Birte Friesel <derf@chaosdorf.de>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: http://github.com/chaosdorf/chaosdorf-admin-toolkit
Vcs-Git: http://github.com/chaosdorf/chaosdorf-admin-toolkit.git
Vcs-Browser: http://github.com/chaosdorf/chaosdorf-admin-toolkit

Package: chaosdorf-admin-toolkit
Architecture: all
Conflicts: chaosdorf-raumadmin-toolkit
Depends: ${misc:Depends},
 etckeeper,
 git-core,
 libconfig-tiny-perl,
 libmonitoring-plugin-perl,
 libipc-run-perl,
 monitoring-plugins-basic,
 sudo
Description: all-in-one package for Chaosdorf hosts
 chaosdorf-admin-toolkit depends on several packages commonly used hosts of the
 Chaos Computer Club Düsseldorf. It also provides tools and configuration files
 we use like Icinga check scripts.

Package: chaosdorf-raumadmin-toolkit
Architecture: all
Conflicts: chaosdorf-admin-toolkit
Depends: ${misc:Depends},
 etckeeper,
 git-core,
 libconfig-tiny-perl,
 libmonitoring-plugin-perl,
 libipc-run-perl,
 monitoring-plugins-basic,
 sudo
Description: all-in-one package for Chaosdorf hosts
 chaosdorf-admin-toolkit depends on several packages commonly used hosts of the
 Chaos Computer Club Düsseldorf. It also provides tools and configuration files
 we use like Icinga check scripts.
